
.bannerContainer {
  margin-top: 20px;
  display:flex;
  justify-content:center;
}
.clickable {
  width: auto;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}

.finalBanner {
  position: absolute;
  background-image:url(../../assets/fourthBackground.png);
}

.banner,
.secondBanner,
.finalBanner {
  background-size: cover;
}

.banner,.finalBanner {
  width: 300px;
  height: 250px;
}

.textContainer {
  display:flex;
  .textDisplayed {
    margin: 20px auto;
  }
}

.finalTextContainer{
  display: flex;
  flex-direction: column;
}

.finalText,
.finalSubText {
    margin: 20px 20px 0px 20px;
    opacity: 0;
}

.finalSubText{
  margin-top:5px;
}


.getMoreBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  padding: 8px 25px 4px 25px;
  background-color: #a01e1e;
  border-radius: 2px;
  
}

// glare effect
.clickable .getMoreBtn {
  transition: 1s;
  &:focus{
    outline: 0;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.5);
    width: 10px;
    height: 80%;
    left: 0;
    top: 0;
    opacity: .6;
    filter: blur(5px);
    transform: translateX(00px)  skewX(-15deg);
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    height: 100%;
    left: 0px;
    top: 0;
    opacity: 0;
    transform: translateX(-50px) skewX(-15deg);
  }
}
.clickable:hover .getMoreBtn {
  background: #e24b4b;
    cursor: pointer;
    &:before{
      transform: translateX(100px)  skewX(-15deg);  
      opacity: 0.1;
      transition: 1s;
    }
    &:after{
      transform: translateX(300px) skewX(-15deg);  
      opacity: 0;
      transition: 1s;
    }
}