
// A couple things to consider:
//     - All code and images should zip up to be less than 200k
//     - Animation time should not exceed 15 seconds
//     - Please include a 1px black border around the entire ad
//     - The entire banner should be clickable on all frames to one URL: https://www.google.com
// below you will find a link to download a PSD and Storyboard. Please use this to build a 300x250 animated advertisement using HTML/CSS/JavaScript with the GreenSock plugin.
.bannerContainer {
  display:flex;
  justify-content:center;
}
.clickable {
  width: auto;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}

.finalBanner {
  position: absolute;
  background-image:url(../../assets/fourthBackground.png);
}

.banner,.finalBanner {
  width: 300px;
  height: 250px;
}

.textContainer {
  display:flex;
  .textDisplayed {
    margin: 20px auto;
  }
}

.finalTextContainer{
  display: flex;
  flex-direction: column;
}

.finalText,
.finalSubText {
    margin: 20px 20px 0px 20px;
    opacity: 0;
}

.finalSubText{
  margin-top:5px;
}
